<html>
  <head>
    <title>CDC Investment Bank and Trust</title>
    </head>
    <script> 
    function doBlink() { 
      // Blink, Blink, Blink... 
      var blink =  document.getElementsByTagName("blink");
        for (var i=0; i < blink.length; i++) 
          blink[i].style.visibility = blink[i].style.visibility == "" ? "hidden" : "" 
    } 

    function startBlink() { 

    setInterval("doBlink()",1000);
    }
    window.onload = startBlink; 
    </script> 

  <body bgcolor=grey>
    <center>
      <h2>Log in with the form below</h2>
      <form action="/cgi-bin/actions/get-access-token" method=POST>
        Name<input name="user_name" type="text"><br/>
        Password<input name="password" type="password">
        <input type=submit>
        </form>

      <hr/>
      <h4>
        Don't have an account? Visit one of our
        <a href="/branches.html">branches!</a>
        </h4>

      </center>

    <hr/>
    <iframe width=100% scrolling=no frameborder=none src="/bottom2.html"/>
    </body>
  </html>
